<ion-content color="primary" padding>
<p text-center>
  <img src="assets/logo.png" width="128px" alt="WhatToDo">
</p>

<ion-list lines="full">
  <ion-list-header>Minha Lista de Tarefas</ion-list-header>
  <ion-item>
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <!--<ion-icon name="checkmark-circle" slot="start"></ion-icon>-->
    Meu Item
    <ion-button slot="end" fill="clear">
      <ion-icon name="trash" color="danger"></ion-icon>
    </ion-button>
  
  </ion-item>
  <ion-item>Meu Item</ion-item>
  <ion-item>Meu Item</ion-item>
  <ion-item>Meu Item</ion-item>
  <ion-item>Meu Item</ion-item>

</ion-list>

</ion-content>

